<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h2><a href="http://shamya.github.io">Shamya Karumbaiah</a></h2>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/research">Research</a></li>
        		<li><a href="/projects">Projects</li>
        		<li><a href="/outreach">Outreach</li>
        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			</br>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			</br>
			<footer>
				<ul>
					<li><a href="mailto:shamya16@gmail.com">email</a></li>
					<li><a href="https://github.com/Shamya">github</a></li>
					<li><a href="https://www.linkedin.com/in/shamya-karumbaiah-54901222">linkedln</a></li>
					<li><a href="https://www.facebook.com/ShamyaKarumbaiah">facebook</a></li>
				</ul>
			<footer>
		</body>
	</html>
